.body-container {
    /*width: 500px;*/
    padding: 5% 0 0;
    margin: auto;
}

.item {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    /*max-width: 500px;*/
    margin: 0 auto 100px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    min-height: 150px;
}