th {
    text-align: left;
    height: 50px;
    width: 500px;
    background-color: white;
    -webkit-text-fill-color: green;
}
td{
    overflow: auto;
    text-align: left;
}

table.problemsTable tbody{
    /*height: 80em;*/
    overflow: scroll;
    overflow: auto;
}

textarea {
    resize: none;
}

/* Style The Dropdown Button */

#problemsReport.dropbtn {
    background-color: white;
    color: green;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */

#problemsDropdown.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */

#problemDDC.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* Links inside the dropdown */

#problemDDC.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */

#problemDDC.dropdown-content a:hover {
    background-color: #f1f1f1
}
/* Show the dropdown menu on hover */

#problemsDropdown.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */

#problemsDropdown.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#ticketNavigation{
    float: left;
}

.divDialog {
	position:absolute;
	width:auto;
	height:auto;
	z-index:1;
	left: 250px;
	top: 100px;
	background-color: #A5D187;
	border: 1px solid #666;
	padding: 20px;
	visibility: collapse;
}
